* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: url(https://picsum.photos/1920/1080);
    background-size: cover;
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40vw;
    height: 50vh;

}
.buttons {
    margin: 30px 0px;
    display: flex;
    gap: 40px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 50px;
    transition: opacity 0.5s ease in-out; 
    
}
#rock {
    background-color: rgb(107, 0, 128);
}

#paper {
    background-color: rgb(0, 128, 0);
}

#scissors {
    background-color: #007BFF;
}

button:hover {
    opacity: 0.7;
    
}
h1 {
    font-size: 60px;
}
           
#result {
    font-size: 36px;
    color: rgb(0, 128, 0);
    margin 0px;
}
section {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin-top: 20px;
}
p {
    font-size: 30px;
    color: hsl(0, 0%, 40%);
    display: flex;
    gap: 10px;
}
h3 {
    font-size: 30px;
    color: hsl(0, 0%, 40%);
    display: flex;
    gap: 10px;
}
#score span {
    font-size: 30px;
    color: #6200ffbb;
}   
#computador span {
    font-size: 30px;
    color: #ff0000;
}